#gallery{
 width: 80%;   
}

figure{
    width: 33%;
}

@media screen and (min-width: 769px) and (max-width: 992px){
    #gallery{
        width: 50%;
    }
}

@media (min-width:993px){
    #gallery{
        width: 90%;
    }
}


@media screen and (max-width:768px){
    #gallery{
        width: 100%;
    }
}

@media screen and (max-width:480px){
    #gallery(
    
    )
}